/* font import*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* custom style and set property*/
:root {
    --primary-font: 'Work Sans', sans-serif;
    --primary-text-color: #131313;
    --secondary-text-color: #727272;
    --tertiary-text-color: #424242;
    --primary-bg-color: #FFF4E7;
    --secondary-bg-color: #FFF4E7;
    --orange: #FF900E;
    --btn-color: #FF900E;
    --btn-color-two: rgb(13, 177, 13);
    --btn-text-color: #FFFFFF;
}

/* universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background-color: #f8f8f8;
}

/* all common styles */
.banner_info_text,
.section_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary-text-color);
    margin-bottom: 32px;
}

.primary_btn,
.secondary_btn {
    border: 0;
    color: var(--btn-text-color);
    border-radius: 8px;
    padding: 14px 20px;
    font-size: 20px;
    font-weight: 600;
}

.primary_btn {
    background-color: var(--btn-color);
}

.secondary_btn {
    background-color: var(--btn-color-two);
}

.primary_btn:hover {
    background-color: #eb8109;
    color: #e0e0e0;
}

.secondary_btn:hover {
    background-color: rgb(15, 143, 15);
    color: #e0e0e0;
}

/* header start */
header {
    background-color: var(--primary-bg-color);
    padding: 10px 20px;
}

/* navbar and banner start */
/* common styles */
.navbar,
.banner,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.nav_item {
    display: flex;
    flex-wrap: wrap;
}

.nav_item a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-left: 30px;
}

.nav_item a:hover {
    color: #525252;
}

/* banner */
.banner_info {
    text-align: center;
    padding: 100px 0px 50px 0px;
}

.banner_info_title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}



.banner_img>img {
    max-width: 100%;
}

/* navbar and banner end */
/* main start */
main {
    padding: 50px 0px 0px 0px;
}

/* main common styles */
.section {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
    align-items: center;
}

.section_title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--primary-text-color);
    margin-bottom: 24px;
}

.list_feature_img,
.enjoy_section_img {
    max-width: 50%;
}

.list_feature_img img,
.enjoy_section_img img {
    max-width: 100%;
}

.list_feature_info,
.enjoy_section_info {
    max-width: 40%;
}

/* list feature section*/

.list_feature {
    justify-content: space-evenly;
}

.list_feature_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.list_span-one {
    color: var(--tertiary-text-color);
    font-weight: 500;
}

.list_span-two {
    color: var(--orange);
}

/* enjoy & love section */
.enjoy_section_title {
    border-left: 5px solid #FF900E;
    padding: 0px 10px;
}

.enjoy_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.enjoy_card {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
}

.enjoy_card_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.enjoy_card_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary-text-color);
}

/* experience */
.experience {
    text-align: center;
    background-color: var(--orange);
    max-width: 340px;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    margin-top: -170px;
    margin-left: 550px;
    transition: transform 2s;
}

.experience:hover {
    transform: scale(1.15);
}

.experience_title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.experience_text {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

/* some facts section enjoy */
.fact_card-one:hover,
.fact_card-two:hover,
.fact_card-three:hover,
.fact_card-four:hover {
    transform: scale(1.1);
}

/* animation using in facts card */
@keyframes rotation {
    0% {
        transform: rotate(18deg);
    }

    100% {
        transform: rotate(-18deg);
    }
}

.some_facts {
    padding: 100px 50px;
}

.facts_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.facts_card {
    border: 1px solid #FF900E;
    padding: 30px 40px;
    border-radius: 7px;
    margin-top: 50px;
    transition: transform 1s;
}


.fact_card {
    text-align: center;
    overflow: hidden;
    animation-play-state: running;
    transform-origin: top;
    animation: rotation 2s ease-in-out 1s infinite alternate;
}

.facts_card_title {
    font-weight: 600;
    font-size: 45px;
    color: var(--secondary-text-color);
}

.facts_card_text {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--tertiary-text-color);
}

/*custom join with us section */
.joinus_section {
    background-color: rgb(211, 204, 201);
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.form_title {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 20px;
    color: var(--tertiary-text-color);
    font-weight: 600;
}

.join_login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join_login_form input {
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    width: 40%;
    margin: 10px 0px;
    padding: 16px 10px;
}

.btn_div {
    margin-top: 10px;
}

/* our sponsor section */
.sponsors_section {
    text-align: center;
}

.sponsors {
    margin-top: 50px;
    flex-wrap: wrap;
}

.sponsors img {
    filter: grayscale(1);
}


/* footer section */
footer {
    text-align: center;
    background-color: #FFF4E7;
    padding: 40px 10px;
    margin-bottom: 100px;
}

.footer_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--tertiary-text-color);
}

/* hide */
.hide {
    display: none;
}

/* for tablet device */
@media only screen and (max-width:992px) {
    .section {
        flex-direction: column;
        row-gap: 30px;
    }

    .enjoy_love_section {
        flex-direction: column-reverse;
    }

    .list_feature_img,
    .enjoy_section_img,
    .list_feature_info,
    .enjoy_section_info {
        max-width: 90%;
    }

    .experience {
        position: relative;
        margin-top: 0;
        margin: auto;
    }

    .facts_cards {
        gap: 30px;
    }

    .sponsors {
        flex-direction: row;
        justify-content: center;
        max-width: 90%;
        gap: 40px;
    }
}